body {
  margin: 0;
  font-family: Inconsolata, monospace;
  background-color: rgb(19, 4, 67);
  color: #ebebeb;
}

header {
  background-color: rgb(10, 3, 32);
  color: #d2c2c2;
  padding: 2rem;
  text-align: center;
  font-size: 40rem;
}

main {
  max-width: 80rem;
  margin: 2rem auto;
  padding: 1rem;
}

.card {
  display: flex;
  align-items: center;   
  gap: 1rem;            
}

.card img {
  width: 11rem;
  height: auto;
}

.text-right {
  border: none;
  padding: 2rem;
  text-align: right;
  font-size: 7rem;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #666;
  font-size: 0.9rem;
}


